.roundButton {
  margin-right: -4px;
  background-color: #dddddd;
  color: #5d5d5d;
  padding: 0px;
  /* padding-left: 25px; */
  /* padding-right: 25px; */
  font-size: 13.33px;

  outline: none;
  border: none;

  border-radius: 12.5px;
  /* padding: 8.5px 27.5px; */

  margin-bottom: 15px;
  margin-top: 15px;
  margin: 3%;
  width: 27%;

  transition: background-color 0.2s ease;
  -webkit-box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.1);

  font-family: 'Nanum Gothic';
  font-weight: 200;
}

.mainred {
  background-color: #db2a37;
  color: white;
}

.mainred:hovers {
  color: white;
  background-color: #db2a37;
  border: 1px solid #db2a37;
}

.roundButton:hovers {
  color: white;
  background-color: #db2a37;
}
