.roundButton {
  margin-right: -4px;
  background-color: #DDDDDD;
  color: #5D5D5D;
  font-size: 12.5px;

  outline: none;
  border: none;

  border-radius: 12.5px;
  padding: 5px 0;

  margin-bottom: 15px;
  margin-top: 15px;
  margin: 3%;
  width: 27%;

  transition: background-color 0.2s ease;
  -webkit-box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);

  font-family: 'Nanum Gothic';
  font-weight: 200;
}

.mainred {
  background-color: #DB2A37;
  color: white;
}

.mainred:hovers {
  color: white;
  background-color: #DB2A37;
  border: 1px solid #DB2A37;
}

.roundButton:hovers {
  color: white;
  background-color: #DB2A37;
}